
@{
    ViewBag.Title = "Index";
}
<h2>
    Reports
</h2>

    <div>
       
        <p>
            @Html.ActionLink("Inventory Report", "Index", "InventoryReport")
        </p>
        <p>
            @Html.ActionLink("Sales Report", "Index", "SalesReport")

        </p>

    </div>

